<div class="home">
    <div class="home_heading">
        Hello <span class="font-bold">Rohit</span>,<br>
        We have a list of tests for the applicant. Please <br>
        choose one from the following options :
    </div>

    <div class="flex flex-wrap gap-5 mt-4">
    <div class="home_list">
    <div class="home_listIn" *ngFor="let item of [1,2,3,4,5,6]">
        Aptitude Test
    </div>
    </div>
    <div class="home_design">
<div class="home_design_options"></div>
    </div>
    </div>
</div>
