<div class="home">
    <div class="home_heading line-height-3">
        Hello <span class="font-bold">Liza</span>,<br>
        We have a list of tests for the applicant. Please <br>
        choose one from the following options :
    </div>

    <div class="flex flex-wrap gap-5 mt-4">
        <div class="home_list">
            <div class="home_listIn" *ngFor="let item of ['Aptitude Test','Personality Assessment','Technical Skills Evaluation','Problem-Solving Exercise','Coding Challenge']">
                {{item}}
            </div>
            <div class="home_listIn flex justify-content-between align-items-center gap-4" routerLink="/admin/create">
                <label>Create Customize Test</label> <i class="pi pi-pencil text-xl mr-3 textWonder"></i>
            </div>
        </div>
        <div class="home_design ">
            <div class="home_design_options hidden">
                <div class="home_design_options_list mt-4" *ngFor="let item of ['Angular 2 Test','Kotlin - Android Test','Java 8','C# 4.3 Test']">
                    {{item}}
                </div>
                <div class="w-full flex justify-content-center mt-7">
                    <app-button [customStyles]="{
            background:'#3266CA',
            width:'25rem',
            height:'5rem',
            borderRadius:'41px'
          }" routerLink="/admin/upload">Generate Link <i class="pi pi-link
          text-4xl"></i></app-button>
                </div>

            </div>
        </div>
    </div>
</div>