
input::file-selector-button {
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.5em;
    border: none;
    background-color: var(--primarybg);
    border-radius: 1.5rem;
  }

  .UserImg{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_Image{
        width: 150px;
        height: 150px;
        border-radius: 50%;


    }

    &_border{
        border-radius: 50%;
        padding: 1rem;
        background-color: var(--bgProfile);
    }
}

.linkText{
    width: 100%;
    font-size: 1.7rem;
    overflow-wrap: break-word;
    padding: 1rem;
    color:#0B2CDA;
}