
.navbar{
    height:6.3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;


    &_logo{
        max-width: 150px;
        width: 100%;
    }

    &_progress{
        max-width: 45rem;
        width: 100%;
    }
    
    &_margin-right{
        margin-left: 10rem;
    }

    &_margin-left{
        margin-right: 10rem;
    }

  }

  
