<nav class="navbar navbarBGWOnder textWonder">
  <div class="navbar_center">

      <img src='../../../assets/logoWonder.png' alt="logo" class="navbar_logo">


      <div *ngIf="roundDetails">
        <div>
          <app-progressbar [maxValue]="userArray?.totalQuestions" [value]="CurrentQuestion" [testName]="userArray?.testName"></app-progressbar>
        </div>
     </div>

    <div class="navbar-links">
      <ul *ngIf="Applicant;else applicantname">
        <div class="navbar_link gap-2 relative cursor-pointer mr-5 " >
          <li class="flex-grow-1 flex justify-content-center align-items-center flex-shrink-1  hoverLine" routerLink="/admin/tests" routerLinkActive="activeClass">Tests</li>
        </div>
        <div class="navbar_link gap-2 relative cursor-pointer ">
          <li class="flex-grow-1 flex justify-content-center align-items-center flex-shrink-1  hoverLine mr-4" routerLink="/admin/applicants" routerLinkActive="activeClass">Applicants</li>
        </div>
        <li  class="navbar_adminlogo flex justify-content-center align-items-center ml-6 cursor-pointer">
          <div class="dropdown">
          <div class="navbar_adminlogo_logo dropbtn">
            <img src="../../../assets/images/adminlogo.png" height="100%" width="100%" alt="">
          </div>
          <div class="dropdown-content">
            <a>Profile</a>
            <a>Settings</a>
            <a class="text-red-500" (click)="logout()">Logout</a>
          </div>
        </div>
        </li>
      </ul>
      <ng-template #applicantname>{{userArray?.name}}</ng-template>
    </div>

  </div>
</nav>