<nav class="navbar bg-white textWonder">
  <div class="navbar_center">


    <picture>
      <source media="(max-width: 799px)" srcset="../../../assets/images/won.png" />
      <source media="(min-width: 800px)" srcset="../../../assets/logoWonder.png" />
      <img src="../../../assets/logoWonder.png" alt="Chris standing up holding his daughter Elva" class="navbar_logo" />
    </picture>
      <!-- <img srcset="../../../assets/images/won.png 480w, ../../../assets/logoWonder.png 800w"  sizes="(max-width: 600px) 480px,
      800px" src='../../../assets/logoWonder.png' alt="logo" class="navbar_logo" > -->


      <div *ngIf="roundDetails">
        <div>
          <app-progressbar [maxValue]="userArray.totalquestions" [value]="CurrentQuestion" [testName]="userArray.test_name"></app-progressbar>
        </div>
     </div>

    <div class="navbar-links">
      <ul *ngIf="Applicant;else applicantname">
        <div class="navbar_link gap-2 relative cursor-pointer mr-5 " >
          <li class="flex-grow-1 flex justify-content-center align-items-center flex-shrink-1  hoverLine" routerLink="/admin/tests" routerLinkActive="activeClass">Tests</li>
        </div>
        <div class="navbar_link gap-2 relative cursor-pointer ">
          <li class="flex-grow-1 flex justify-content-center align-items-center flex-shrink-1  hoverLine mr-4 " routerLink="/admin/applicants" routerLinkActive="activeClass">Applicants</li>
        </div>
        <li  class="navbar_adminlogo flex justify-content-center align-items-center cursor-pointer">
          <div class="dropdown">
          <div class="navbar_adminlogo_logo dropbtn">
            <ng-template #profileText><p-skeleton shape="circle" size="100%"></p-skeleton></ng-template>
            <img [src]="ProfileImage" *ngIf="ProfileImage; else profileText" class="border-circle" width="100%" height="100%" alt="profile_Image">
          </div>
          <div class="dropdown-content">
            <a (click)="OpenProfile()">Profile</a>
            <a>Settings</a>
            <a class="text-red-500" (click)="logout()">Logout</a>
          </div>
        </div>
        </li>
      </ul>
      <ng-template #applicantname>{{UserName}}</ng-template>
    </div>

  </div>
</nav>