.login {
  max-width: 452px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  border-radius: 4px;
//   background: #f3f3f3;

  &_input{
    flex-grow: 1;
  }
  &_threed{
    width: auto;
    height: 70px;
  }
}

:host::ng-deep{
    .p-inputtext{
        width: 300px !important;
        height: 50px !important;
        font-family: poppins !important;
        font-size: 1.4rem !important;
    }
    i{
        font-size: 1.4rem ;
    }
}