<div class="generate textWonder flex justify-content-center flex-column align-items-center gap-5">
    <div class="flex justify-content-center">
        <h2>Send Invitations</h2>
    </div>
    <div class="generate_link p-5">
        <div class="generate_link_linkText relative m-auto" [innerText]="link">
        </div>
        <hr>
        <div class="flex justify-content-center mt-4">
            <a btn [customStyles]="{
                background:'#3266CA',
                width:'4rem'
              }" (click)="copyText(link)">Copy</a>
        </div>
        <article class="text-center container primaryFontSize text-red-600">
            Before you send the link to applicants please generate access code for each.Generated Password are basically applicants mobile numbers.
        </article>
    </div>
    <div class="gap-3 flex">
        <a btn [customStyles]="{
            background:'#C6C6C6',
            width:'4rem',
            color:'#252525'
          }">Back</a>
        <a btn [customStyles]="{
            background:'#3266CA',
            width:'1rem'
          }"><i class="pi pi-home text-4xl"></i></a>
    </div>
</div>
