<app-wrap-instruction>
    <div class="p-4 primaryFontSize text-justify line-height-2">
        <h3 class="font-bold mb-5 textWonder">Instructions</h3>

        <div class="mb-1">
            <label for="testName" >Test Name :</label> {{this.quizData.testName}}
        </div>
        <div class="mb-1" ><label for="min" >Duration : </label>{{this.quizData.totalTimeInMins}} minutes</div>
       
        <div class="mb-1"> <label for="numberOfQuestion" >Number of Questions :</label> {{this.quizData.totalQuestions}}</div>
        <div class="mb-1"><label for="type" >Question Type : </label>Multiple Choice Questions</div>
        <div class="mb-1"><label for="level" >Level :</label> {{this.quizData.level.name}}</div>
        <div class="mt-5">
       <span class="font-bold">Note : </span>For test integrity, random pictures may be taken during the assessment to ensure no cheating is involved. Additionally, your IP address and location may be stored for monitoring purposes.
        </div>
        <div class="mt-4">
            <span>By proceeding, you agree to the terms and conditions stated above. Please continue with the test <span class="text-red-500">*</span></span> 
        </div>
        <div class="col-12 flex justify-content-end gap-3 px-4 mt-7">
            <app-button [customStyles]="{
                background:'#FBFBFB',
                width:'4rem'
              }" routerLink="/verification"><i
                    class="pi textWonder text-2xl pi-arrow-left"></i></app-button>
            <app-button [customStyles]="{
                background:'#3266CA'
              }" (click)="onStartQuiz()">Start Test<i
                    class="pi pi-arrow-right text-2xl"></i></app-button>
        </div>
    </div>
</app-wrap-instruction>