<app-loader *ngIf="loading"></app-loader>
<p-dialog header="Add Applicants" [(visible)]="displayBasic" [style]="{width: '50vw'}" [maximizable]="true"  [modal]="true" [baseZIndex]="10000">
<form class="flex grid col-12 justify-content-center" [formGroup]="applicantForm" (ngSubmit)="OnAdd()">
<div class="lg:col-6 md:col-6 col-12 flex flex-column gap-4">
    <div class="flex justify-content-evenly align-items-center">
        <label  class="secondaryFontSize">Enter Sr.No<span class="text-red-500">*</span></label>
        <input type="number" pInputText formControlName="sr" class="text-2xl">
    </div>
    <div class="flex justify-content-evenly align-items-center">
        <label  class="secondaryFontSize">Enter Name<span class="text-red-500">*</span></label>
        <input type="text" pInputText formControlName="name"  class="text-2xl">
    </div>
    <div class="flex justify-content-evenly align-items-center">
    <label  class="secondaryFontSize">Enter Email<span class="text-red-500">*</span></label>
    <input type="email" pInputText formControlName="email"  class="text-2xl">
    </div>
</div>
<div class="col  flex flex-column gap-4">
    <div class="flex justify-content-evenly align-items-center">
        <label  class="secondaryFontSize">Enter Number<span class="text-red-500">*</span></label>
        <p-inputMask formControlName="mobile" mask="(999) 999-9999" styleClass="text-2xl" ></p-inputMask>    
    </div>
    <div class="flex justify-content-evenly align-items-center">
        <label  class="secondaryFontSize">Enter Location<span class="text-red-500">*</span></label>
        <input type="text" pInputText formControlName="location"  class="text-2xl">
    </div>
    <div class="flex justify-content-evenly align-items-center">
        <label  class="secondaryFontSize">Enter Position<span class="text-red-500">*</span></label>
    <input type="text" pInputText formControlName="position"  class="text-2xl">
    </div>
</div>

    <div class="flex justify-content-end col-12 mt-4 px-6">
        <app-button [customStyles]="{
            background:'#3266CA'
        }" type="submit">Add <i class="pi pi-plus"></i></app-button>
    </div>
</form>
</p-dialog>
<app-wrap-instruction>
    <div class="mb-3 flex justify-content-between ">
        <input type="file" (change)="ReadExcel($event)" accept=".xls,.xlsx">
        <div class="flex gap-4 align-items-center">
            <a href="../../../../assets/applicants.xlsx" title="Sample Excel File" class="no-underline" download>Excel <i class="pi pi-download"></i></a>
            <app-button [customStyles]="{
                color:'#252525'
            }" (click)="showModalDialog()">Add<i class="pi pi-plus textWonder"></i></app-button>

            <app-button [customStyles]="{
                background:'#3266CA'
            }" (click)="OnNextUpload()">Next <i class="pi pi-arrow-right"></i></app-button>
        </div>
    </div>
    <p-table #dt1 id="SrNo" [value]="ExcelData" tableStyleClass="text-2xl" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['SrNo','Name','Email','Mobile_number','Location','Applied']" >
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search text-2xl"></i>
                    <input pInputText type="text" class="text-2xl" #textInput (input)="dt1.filterGlobal(textInput.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="SrNo">Sr No<p-sortIcon field="code"></p-sortIcon></th>
                <th  pSortableColumn="Name">Name<p-sortIcon field="code"></p-sortIcon></th>
                <th  pSortableColumn="Email">Email Id<p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="Mobile_number">Mobile number<p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="Location">Location<p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="Applied">Position<p-sortIcon field="code"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.SrNo}}</td>
                <td>{{data.Name}}</td>
                <td>{{data.Email}}</td>
                <td>{{data.Mobile_number}}</td>
                <td>{{data.Location}}</td>
                <td>{{data.Applied}}</td>
            </tr>
        </ng-template>
    </p-table>
</app-wrap-instruction>