<div class="upload textWonder">
<div class="flex justify-content-center">
<h2>Upload Applicant Details*</h2>
</div>

<div class="upload_csv">
    <div class="upload_csv_container">
        hello
    </div>
    <div class="upload_csv_btn flex justify-content-center">
       <app-button [customStyles]="{
            background:'#3266CA',
            width:'4rem'
          }" routerLink="/admin/generate">Next <i class="pi pi-arrow-right text-2xl"></i></app-button>

    </div>
</div>
<div class="upload_showTable">
    PrimeNG Table will be show here which will contain name, emai , generated password column
</div>
<div>

</div>
</div>