<div class="appQuiz grid p-4">
    <span class="appQuiz_right flex gap-2 align-items-center p-3">
       <app-countdown [value]="[0,30,1,99]" [startPositive]="false"></app-countdown> <img src="../../../assets/images/stop.png" width="27px" height="27px" alt=""></span>

    <div class="appQuiz_ques col-6 p-5">
        <div class="flex gap-4 flex-column">
            <label>{{quizData[currentQuestionIndex]?.descheading}}</label>
            <label class="font-bold text-4xl">{{quizData[currentQuestionIndex]?.question}}</label>
            <div class="appQuiz_document" [innerHTML]="quizData[currentQuestionIndex]?.documentData"></div>
        </div>
    </div>
    <div class="appQuiz_ans col-6 flex gap-5 flex-column p-5">
        <label class="mb-7 mt-2">SELECT ONLY ONE</label>

        <div *ngFor="let category of quizData[currentQuestionIndex]?.options">
            <div class="radio-item "> 
                <input type="radio" name="category" [value]="category.name" (change)="checkStatus($event)"  class="radioStyle_radbtn cursor-pointer" id="category.key">
                <label for="category"><span class="pl-8 ">{{category.name}}</span></label>
            </div>
        </div>
        

    </div>
    <div class="col-12 flex justify-content-end gap-3 px-4">
        <app-button [customStyles]="{
            background:'#FBFBFB',
            width:'7.5rem'
          }" (click)="onBack()"><i class="pi textWonder text-2xl pi-arrow-left"></i></app-button>

        <a btn [customStyles]="{
            background:'#3266CA'
          }" (click)="onNext()">Next<i class="pi pi-arrow-right text-2xl"></i></a>
    </div>

</div>