.appQuiz{
    position: relative;
    margin-top:5rem;
    background-color: var(--quizBg);
    height: auto;
    max-width: 1236px;
    margin-inline: auto;

    &_ques{
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
    }

    &_ans{
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
    }

    &_right{
        position: absolute;
        right:2rem;
        height: 2rem;
        font-size: 1.4rem;
        font-weight: 700;
    }
    
    &_options{
        width: 97%;
        height: 6.3rem;
        border-radius: 9px;
        border: 1px solid #808080;
        background: var(--quizBg);
        display: flex;
        align-items: center;
        box-sizing: content-box;
        gap:1rem;
        transition: all 0.5s;
    }

    &_checkCircle{
        max-width: 48px;
        width: 100%;
        max-height: 48px;
        height: 100%;
        border: 1px solid #808080;
        border-radius: 50%;
    }

    &_show{
        display: none;
    }

}

.appQuiz_options:hover{
    background-color: #3267caea;
    color:rgb(255, 255, 255);

    .appQuiz_checkCircle{
        border: 1.3px solid #ffffff;
    }
}


.activeOptions{
        background-color: #3266CA;
        color:white;

        .appQuiz_checkCircle{
            border: 1.3px solid #ffffff;
        }
    
        .appQuiz_show{
            display: block;
        }

    }