<app-loader *ngIf="loading"></app-loader>
<p-toast sticky="true" life="1260000"></p-toast>
<div class="appQuiz grid p-4">
    <webcam [height]="200" [width]="200" [trigger]="triggerObservable" class="hidden" (imageCapture)="handleImage($event)"></webcam>
    <span class="appQuiz_right flex gap-2 align-items-center p-3">
       <app-countdown></app-countdown><svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><path d="M176 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h16V98.4C92.3 113.8 16 200 16 304c0 114.9 93.1 208 208 208s208-93.1 208-208c0-41.8-12.3-80.7-33.5-113.2l24.1-24.1c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L355.7 143c-28.1-23-62.2-38.8-99.7-44.6V64h16c17.7 0 32-14.3 32-32s-14.3-32-32-32H224 176zm72 192V320c0 13.3-10.7 24-24 24s-24-10.7-24-24V192c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg></span>

    <div class="appQuiz_ques lg:col-6 md:col-6 col-12 p-5 mt-4">
        <div class="flex gap-4 flex-column">
            <div class="appQuiz_document" [innerHTML]="quizData[currentQuestionIndex]?.question"></div>
        </div>
    </div>
    <div class="appQuiz_ans lg:col-6 md:col-6 col-12 flex gap-5 flex-column p-5 mt-4">
        <label class="mb-7 mt-2">SELECT ONLY ONE</label>

        <div *ngFor="let category of quizData[currentQuestionIndex]?.options | shuffle:shouldShuffle ; index as i">
            <div class="radio-item "> 
                <input type="radio" name="category" [value]="category.name" (change)="checkStatus($event,i)" [checked]="category.check"  class="radioStyle_radbtn cursor-pointer" id="category.name">     
                <label for="category"><div class="pl-8 ">{{category.name}}</div></label>
            </div>
        </div>
        

    </div>
    <div class="col-12 flex justify-content-end gap-3 px-4">
        <app-button [customStyles]="{
            background:'#FBFBFB',
            width:'7.5rem'
          }" (click)="onBack()"><i class="pi textWonder text-2xl pi-arrow-left"></i></app-button>

        <a btn [customStyles]="{
            background:'#3266CA'
          }" *ngIf="!showSubmit;else showS" (click)="onNext()">Next<i class="pi pi-arrow-right text-2xl"></i></a>

          <ng-template #showS>
            <app-button [customStyles]="{
                background:'#3266CA',
                underline:'none'
              }" (click)="onTestSubmit()">Submit Test</app-button>
          </ng-template>
    </div>

</div>