<app-loader *ngIf="loading"></app-loader>
<app-wrap-instruction>
    <div class="grid p-5">
        <div class="col-12 p-5 flex justify-content-between">
            <div class="p-2 largeboldFont font-bold">
                Report Card
            </div>
            <div class="px-4 py-2 primaryFontSize  border-round-2xl text-white bg-green-600 font-bold ">
                PASS
            </div>
        </div>
        <div class="col-4 flex justify-content-center">
            <p-knob [(ngModel)]="value" valueColor="#3266CA"
            [size]="200" textColor="#252525" styleClass="font-bold" [readonly]="true"></p-knob>
        </div>
        <div class="col-8">
            <label for="name" class="largerFont font-bold">{{reportCard?.name}}</label>
            
            <div class="primaryFontSize flex flex-column gap-4 mt-4">
            <span>Location : {{reportCard?.location}}</span>
            <span>Position : {{reportCard?.position}}</span>
            <span>Test :{{reportCard?.test_name}}</span>
            <span>Score : 60/60</span>
            </div>
            
        </div>
        <div class="col-6 p-5 ">
            <div class="p-2 largeboldFont font-bold">
                Cheat Monitor
            </div>
            <div class="primaryFontSize">
                <ul class="flex flex-column gap-4">
                    <li>Ip : 103.86.182.248</li>
                    <li>City: Pune</li>
                    <li>Region : Maharashtra</li>
                    <li>Country : India </li>
                    <li>Org : Paradise Telecom Pvt Ltd</li>
                    <li>Version : IPV4</li>
                    <li>Timezone : Asia/Kolkata</li>
                    <li>Latitude : 18.6161</li>
                    <li>Longitude : 73.7286</li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="p-2 largeboldFont font-bold">
                Images Captured
            </div>
            <div class="col-8 flex flex-wrap">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
     
        </div>

    </div>
</app-wrap-instruction>