<app-loader *ngIf="loading"></app-loader>
<p-toast></p-toast>
<app-wrap-instruction>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" styleClass="text-2xl"></p-confirmDialog>
    <p-table #dt1 id="SrNo" [value]="ExcelData" tableStyleClass="text-2xl" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['id','name','email','mobile_number','location','test_name','position','score']" >
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search text-2xl"></i>
                    <input pInputText type="text" class="text-2xl" #textInput (input)="dt1.filterGlobal(textInput.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
                <th  pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th  pSortableColumn="email">Email Id<p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="mobile_number">Mobile number<p-sortIcon field="mobile_number"></p-sortIcon></th>
                <th pSortableColumn="location">Location<p-sortIcon field="location"></p-sortIcon></th>
                <th pSortableColumn="position">Position<p-sortIcon field="position"></p-sortIcon></th>
                <th pSortableColumn="test_name"> Test Name <p-sortIcon field="test_name"></p-sortIcon></th>
                <th pSortableColumn="test_status">Test Status <p-sortIcon field="test_status"></p-sortIcon></th>
                <th pSortableColumn="score">Score <p-sortIcon field="score"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr (click)="openReportCard(data.id)">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.mobile_number}}</td>
                <td>{{data.location}}</td>
                <td>{{data.position}}</td>
                <td>{{data.test_name}}</td>
                <td> 
                    <span class="p-column-title">Status</span>
                    <span class="text-red-500" *ngIf="data.test_status=='Live';else notStarted"><li>Live</li></span>
                    <ng-template #notStarted>
                        <span >{{data.test_status}}</span>
                    </ng-template>
                </td>
                <td><span  [ngClass]="highlight(data.score,data.totalquestions) ? 'text-green-500' : 'text-red-500'" class="font-bold">{{data.score}}</span>/{{data.totalquestions}}</td>
                <td>
                    <i  class="pi pi-trash text-2xl cursor-pointer" (click)="confirmDelete(data.id,$event)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-wrap-instruction>