/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: poppins;
    src: url("./assets/font/Poppins-Regular.ttf");
  }

:root {
    font-size: 62.5%;
    --textWonder: #252525;
    --backgroundWonder: #E1E1E1;
    --navbarBGWOnder: #F4F4F4;
    --quizBg: #FBFBFB;
    --primarybg:#3266CA;
}


* {
    // outline: 1px solid;
    box-sizing: border-box;
    user-select: none;
  }

  body {
    padding: 0;
    margin: 0;
    font-family: "poppins";
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background-color: var(--backgroundWonder);
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 2.8rem;
  font-weight: 700;
}
h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-size: 1.8rem;
  font-weight: 700;
}
h5 {
  font-size: 1.6rem;
  font-weight: 500;
}
h6 {
  font-size: 1.4rem;
  font-weight: 700;
}


//some important classes

.textWonder{
    color:#252525;
}

.backgroundWonder{
    background-color: #E1E1E1;
}

.navbarBGWOnder{
    background-color: #F4F4F4;
}

.shadowWonder{
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.container{
  padding: 1.5rem;
}

.primaryFontSize{
  font-size: 1.7rem;
}

.secondaryFontSize{
  font-size: 1.4rem;
}

.primarybg{
  background-color: #3266CA;
}
